@import '../font/stylesheet.css';

*, h1, h2, h3, h4, h5, p{
    font-family: 'Nexa', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
p, ul li, blockquote{
    font-size: 16px;
}
.edit-content{
    right:20px;
    position: absolute;
    margin-top:-30px;
    z-index:999999999999999
}

a{
    cursor: pointer;
}
.ui.inverted.menu .blue.active.item, .ui.inverted.blue.menu {
    background-color: #0088B9;
}
.admin-side-nav{
    margin-top: 50px !important;
}
.admin-header-segment{
    .ui.header{
        padding-top: 8px;
    }
}

.source-stream {
    background: #CCEAF2 !important;
    color: #0088B9;
    padding: 10px;
    padding-bottom: 40px;
}
.admin-header + .source-stream{
    padding-top:50px;
}
.admin-body {
    padding-top:70px;

    .top.fixed{
        margin-top:40px !important;
    }
    .admin-header + .source-stream{
        padding-top:40px;
    }
}



.content-block{

    margin-bottom: 20px;
    padding:10px 40px !important;
    textarea, input, .ui.input{
        width: 100%
    }

    ul{
        margin-left: 0;
        padding-left: 0;
        list-style-type: inside;
        list-style: inside;
    }

    blockquote{
        margin-left: 0;
        padding-left: 25px;
        border-left: 3px solid #0088b92e;
    }
}

.error{
    color: red !important;
}

/**
SEMANTIC MOBILE FIX
**/ 
.ui.dimmer {
    display: flex !important;
}
  
.ui.modal {
    margin-top: 0;
}
.ui.modal > .content{
    box-sizing: border-box;
}

/**
*
*   CALENDAR STYLES
*
**/
.suirCalendarPopup{
    z-index: 999999999;
}
.suir-calendar.cell{border:none !important}.suir-calendar.week-day{border:none !important;border-bottom:1px solid rgba(34,36,38,.1) !important}.suir-calendar.time-picker-header{border-bottom:1px solid rgba(34,36,38,.1) !important}.suir-calendar.date:hover,.suir-calendar.time:hover{outline:1px solid #85b7d9;cursor:pointer}.suir-calendar.button:hover{cursor:pointer}.suir-calendar.popup{padding:0}
.top-info{
    >* {
        display: inline-block;
        margin-right: 10px !important;
        margin-top: 3px !important;
        margin-bottom: 0 !important;
    }
}

/*************************
*
*   DRAGGABLE STYLES
*
************************/
.Showcase__style__stylizedList {
    position: relative;
    z-index: 0;
    background-color: #f3f3f3;
    border: 1px solid #efefef;
    border-radius: 3px;
    outline: none;
    -webkit-overflow-scrolling: touch;
    border: 1px solid #999;
    display: table;
    width: 100%;
}

.Showcase__style__list {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border: 1px solid #999;
}
.Showcase__style__stylizedItem {

    background-color: #fff;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #333;
    font-weight: 400;
    display: table-row;

    & > div{
        padding: 10px 20px;
        display: table-cell;
        border-bottom: 1px solid #efefef;
        text-align: left;
        &:first-child{
            width:10px;
        }
        &:last-child{
            padding: 10px 3px; 
        }
    }
}

.Showcase__style__item {
    position: relative;
    border-bottom: 1px solid #999;
}
.Showcase__style__handle {
    position: relative;
    top: 1px;
    display: block;
    opacity: .25;
    margin-right: 20px;
    cursor: row-resize;
    transition: all .2sec;
    &:hover{
        opacity: 1;
    }
}

.react-wysiwyg-typescript-editor{
    margin-top:-6px;
    background: white
}